#parent,
#child,
#grandpa,
#father,
#son,
#dog,
#cat,
#descendant {
    margin: 16px;
    padding: 16px;
    border: 4px solid #212121;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

#grandpa,
#parent,
#dog {
    background-color: #673ab7;
}

#child,
#father,
#cat {
    background-color: #448aff;
}

#descendant,
#son {
    background-color: #ff9800;
}


/* Piano app */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0F2027;
}

.piano {
    margin-top: 10%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.key {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 20px;
}

.white {
    width: 9%;
    min-width: 60px;
    height: 70%;
    background-color: white;
    border: 1px solid #ccc;
    color: #000;
}

.black {
    width: 8%;
    height: 45%;
    margin-left: -4%;
    margin-right: -4%;
    z-index: 2;
    background-color: black;
    color: #fff;
}

.white.active {
    background-color: #ccc;
}

.black.active {
    background-color: #333;
}

/* ----- */
.nav{
  display: flex;
  list-style-type: none;
  gap: 15px;
  justify-content: center;
  padding-top: 100px;
}

button {
  width: 100px;
  margin-bottom: 1%;
  /* margin-left: auto; */
  padding: 10px;  
  background-color: darkgrey;
}

.autoplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;

  /* margin: 5% 50% -20% 50%; */
}

.btn_autoplay {
  width: 100px;
  margin-bottom: 1%;
  /* margin-left: auto; */
  padding: 10px;  
  background-color: darkgrey;  
}

.btn_autoplay:hover {
  background-color:cornflowerblue;
}

.input{
  color: antiquewhite;
}

.ta_autoplay {

}

nav {
margin: 100px 0;
background-color: #E64A19;
}
/* убираем отступы и поля, а также list-style для "ul",
* и добавляем "position:relative" */
nav ul {
padding: 0;
margin: 0;
list-style: none;
position: relative;
}
/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
margin: 0 -7px 0 0;
display:inline-block;
background-color: #E64A19;
}
/* стилизуем ссылки */
nav a {
display:block;
padding: 0 10px;
color:#FFF;
font-size:20px;
line-height: 60px;
text-decoration:none;
}
/* изменяем цвет фона при наведении курсора */
nav a:hover {
background-color: #000000;
}
nav ul ul {
display: none; 
position: absolute; 
top: 100%;
}
nav ul li:hover > ul { 
    display:inherit;
}
nav ul ul li {
min-width:170px;
float:none;
display:list-item; 
position: relative;
}

nav ul ul ul { 
    position: absolute;
    top:0;
left:100%;
}

/* End of piano app css */

